* {
    box-sizing: border-box;
}

html{
  background-color: #101010;
}

body {
    margin: 0px;
    color: #000;
    background-image: radial-gradient( #52d3f0, #303030); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
    text-decoration: none;
    float:none;
    color:#39FF14;
}     

header h1 {
    text-align: center;
    font-size: 40px;
    color: #404040;
}

header {
    padding: 40px;
    background-image: radial-gradient( #52d3f0, #303030); 
    font-family: cursive;
}

nav {
    background-color: #101010;
    overflow: hidden;
    height:50px;
}


nav a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: left;
    color: white;
}

#hover a:hover {
    color: whitesmoke;
    background:#52d3f0;
  }

main {
    text-align: center;
}

#admin01{
  border-radius: 50%;
}

#index-pic:hover {
    background-color:#70ff60;
  }

h2 {
    padding: 20px;
  }

#dynamic-text {
    color: #7733FF;
}
  
  p{
    color:antiquewhite;
  }
  
section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 100vh;
}

#info-97{
  text-align:left;
  margin-left: 20px;
  margin-right: 20px;
}

iframe {
  height: 75vh;
}

section h5 {
  margin: 40px;
}

ul li{
  color: honeydew;
  list-style: none;
}

/* Main-body-end */

/* contact-section-start */

#contact a{
  font-size: 30px;
  border-radius: 5px;
  color:burlywood;
  transition: 0.5s;
} 

#contact a::before{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#contact a:hover::before{
    transform: scale(1.1);
    box-shadow: #e73213;
}

#contact a:hover{
    color:  #e73213;
    box-shadow: #e73213;
    text-shadow:  #e73213;
}
a:hover::before{
    transform: scale(1.1);
    box-shadow: #e73213;
}

a:hover{
    color:  #e73213;
    box-shadow: #e73213;
    text-shadow:  #e73213;
}

.contact-section {
    border: 0;
    margin: top 25px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    margin-bottom: 200px;
    margin-top: 20px;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .bar {
    position: relative;
    background-color: white;
    margin-top: 4rem;
    width: auto;
    /* height: 25px; */
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 15px 25px -10px rgba(255, 255, 255, .25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    /* margin-top: 4rem; */
    flex-wrap: wrap;
    /* overflow:scroll; */
  }
  
  .contact-details {
    font-size: 1rem;
    /* text-shadow: 2px 2px 1px #666; */
    transition: transform 0.3s ease-out;
  }
  
  .yellow{
    color: #fffc00;
  }
    
  .black{
    color: #252525;
  }

  .insta{
    color:violet;
  }
  .blue{
    color: #0072b1;
  }
  .blue2{
    color: #00acee;
  }

  .label {
    position: relative;
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:black;
    z-index: 2;
    border-radius: 1rem;
    transition: 100ms;
  }
  
  .label:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: radial-gradient( #303030, #52d3f0); 
    transform: scaleY(0%) scaleX(0%);
    border-radius: 1rem;
    z-index: 1;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .label:hover{
    color: white;
    transition: 100ms;
  }
  
  .label:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:radial-gradient( #52d3f0, #303030); 
    z-index: 1;
    box-shadow: 1px 15px 25px -10px rgba(0, 0, 0, .25);
    transform-origin: center;
    transform: scaleY(100%) scaleX(100%);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  label > i {
    z-index: 999;
  }
  
  /* .contact-details:hover {
    transform: translateY(8px);
    color:  #e73213;
    box-shadow: #e73213;
    text-shadow:  #e73213;
} */
  
/* Contact-section-end */

/* Footer-section-start */

footer {
    background-color: #101010;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}   

/* Footer-section-end */

/* Project-section-start */
  
  #365Dayscodingchallenge::after{
    content: "365Dayscodingchallenge";
    width: 350px;
  }

  .icons ol li{
    list-style: none;
  }
  
  .projects-section {
    text-align: center;
    padding: 0 2rem;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #eae7e7;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: #303030;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  #projects a{
    color:#efefef;
    text-decoration: none;
  }
  
  .code {
    color: #303030;
    transition: color 0.3s ease-out;
  }

  .project:hover .project-title{
    color: #61ecea;
  }
  
  .project:hover .code {
    color:#70ff60;
  }
  
 .code,.project-title{
    text-decoration: none;
 }

  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }

  /* Project-sectoin-end */

  /* Main-page-image-hover-effect-Start */
   
  .bodi{    
    display: block;
    align-items: center;
    justify-content: center; 
    background-image: radial-gradient( #66d0f1, #120418);  
    background-size: 400%;
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
  }
  
   .container{ 
    align-items: center;
    height: 280px;
    width: 280px;
    position: relative; 
  }
  
  .card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in; 
  }
  
  .card-body:hover{
    transform: rotateY(180deg);
  }
  
  .front{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background:url('../img/bitmoji.jpg') no-repeat center center/  cover;
    color: aliceblue;
    border-radius: 50%;
     
  }
  
  .back{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background:url('../img/Untitled\ design.png') no-repeat center center/  cover;
    color: aliceblue;
    transform: rotateY(180deg);
    border-radius: 50%;
  }
  
  
  #name{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 155px;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    background: black;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  

  /* Main-page-image-hover-effect-end */
