html {
  scroll-behavior: smooth;
}

.gradiant-text {
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0;
}

@keyframes typing-text {
  from {
    width: 0%;
  }
  to {
    width: 350px;
  }
}

@keyframes typing-text {
  to {
    border-color: transparent;
  }
}

/* @media (max-width: 28.75em) {
    #DownloadCV {
      visibility: hidden;
    }
  } */
