html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

.gradiant-text {
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0;
}

.discription {
  width: 20em;
}

#BuyMeCoffee {
  margin-top: 50px;
}

@keyframes typing-text {
  from {
    width: 0%;
  }
  to {
    width: 350px;
  }
}

@keyframes typing-text {
  to {
    border-color: transparent;
  }
}
