@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url("/cursor_hovers.cur"), auto;
  font-family: "Karla", sans-serif;
}

button:hover,
a:hover {
  cursor: url("/cursor.cur"), pointer;
}
